In [1]:
x = 1
y = 2
x + y

3

In [2]:
x

1

In [7]:
def add_numbers(x,y):
    return x + y

add_numbers(1,2)

3

In [8]:
add_numbers(x,y)

3

In [34]:
def sum_numbers(x,y,z=None): #Optional declarations need to come at the end of the fucntion 
    if (z == None):
        return x + y
    else: 
        return x + y + z 

sum_numbers(1,2)

3

In [35]:
a = sum_numbers

In [38]:
a(3,5)

8

In [41]:
def do_math(a, b, kind ='add'):
  if (kind=='add'):
    return a+b
  else:
    return a-b

do_math(1, 2, )

3

In [42]:
do_math(1, 2, 'sub' )

-1

In [43]:
x = (1, 'a', 2, 'b') #Tuples created with paranthesis, can not be changed once made
type(x)

tuple

In [44]:
x = [1, 'a', 2, 'b'] #lists are created with square brackets, can be changed and appended. 
type(x)

list

In [45]:
for item in x: #How to loop through each item 
    print(item)
    
print(len(x))

1
a
2
b
4

In [46]:
1 in [1, 2, 3] #The 'in" operator verifies item in list

True

In [50]:
x = 'This is a string'
print(x[-4:-2]) #slice returns specific range of items in list 
print(x[0:2])

ri
Th

In [54]:
x = 'Dr. Christopher Brooks' #Slice to return 'Christopher'

print(x[4:15])

Christopher

In [58]:
firstname = 'Christopher'
lastname = 'Brooks'
print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [59]:
firstname = 'Christopher Arthur Hansen Brooks'.split(' ')[0] # [0] selects the first element of the list
lastname = 'Christopher Arthur Hansen Brooks'.split(' ')[-1] # [-1] selects the last element of the list
print(firstname)
print(lastname)

Christopher
Brooks

In [64]:
x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'} #curly braces are for dictionaries 
x['Christopher Brooks'] # Retrieve a value by using the indexing operator

'brooksch@umich.edu'

In [65]:
x['Kevyn Collins-Thompson'] = None #append to dictionary 
x['Kevyn Collins-Thompson']
print(x)

{'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com', 'Kevyn Collins-Thompson': None}

In [71]:
for name in x: #iterate over all keys
    print(name)

Christopher Brooks
Bill Gates
Kevyn Collins-Thompson

In [75]:
for values in x.values(): #iterate over all values. "values' can be any variable
    print(values)

brooksch@umich.edu
billg@microsoft.com
None

In [77]:
for name, email in x.items(): #iterate over all items in list
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [78]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu', 'Ann Arbor') #unpack tuples by assigning variables 
fname, lname, email, city = x
print(city)

Ann Arbor

In [79]:
sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],   #formats items as stings 
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

print(sales_record['person'])

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96
Chris