# The DataFrame Data Structure

In [2]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn
Store 2   5.0      Bird Seed  Vinod

In [3]:
df.loc['Store 2'] #returns items from that row

Cost                      5
Item Purchased    Bird Seed
Name                  Vinod
Name: Store 2, dtype: object

In [4]:
type(df.loc['Store 2'])

pandas.core.series.Series

In [5]:
df.loc['Store 1']   #returns a table with all common values by row selecting

         Cost Item Purchased   Name
Store 1  22.5       Dog Food  Chris
Store 1   2.5   Kitty Litter  Kevyn

In [12]:
df.iloc[:,1] #returns everything in column #1

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [13]:
df['Item Purchased'] #Also returns everything in Item Purchased column

Store 1        Dog Food
Store 1    Kitty Litter
Store 2       Bird Seed
Name: Item Purchased, dtype: object

In [14]:
df.loc['Store 1', 'Cost'] #all the prices from store 1

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [15]:
df.loc['Store 1']['Cost'] #chaining could also be used, however it could be slower. May return a copy of data set instead of a view

Store 1    22.5
Store 1     2.5
Name: Cost, dtype: float64

In [16]:
df.loc[:,['Name', 'Cost']] #all of the rows with specific columns

          Name  Cost
Store 1  Chris  22.5
Store 1  Kevyn   2.5
Store 2  Vinod   5.0

In [17]:
df.drop('Store 1') #returns a copy with given names removed

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [18]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

         Cost Item Purchased   Name
Store 2   5.0      Bird Seed  Vinod

In [19]:
del copy_df['Name']  #deletes column, does not return a view
copy_df

         Cost Item Purchased
Store 2   5.0      Bird Seed

In [20]:
df['Location'] = None #broadcast new column with assignment value =
df

         Cost Item Purchased   Name Location
Store 1  22.5       Dog Food  Chris     None
Store 1   2.5   Kitty Litter  Kevyn     None
Store 2   5.0      Bird Seed  Vinod     None